@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Parcial 3 </h1>
    <h2> Lavadero de carros</h2>

    <p>
        Una empresa naciente llamada Washing Cars quiere desarrollar una aplicación para
        el control de los carros que ingresan a tomar algún servicio de lavado y la entrega de esto
    </p>
</div>
